/*
///////////////////////////////////////////////////

Project Name: Drag & Drop Cards by FREEHTML5.co
Author: FREEHTML5.co
Website: http://freehtml5.co
URL: http://freehtml5.co/cards/drag-drop
License: Creative Commons Attribution 3.0 License

///////////////////////////////////////////////////
*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*
///////////////////////////////////////////////////
1.0 BASE
///////////////////////////////////////////////////
*/
html.mobile-menu-expanded {
  overflow: hidden;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  color: gray;
  font-weight: 400;
}
@media screen and (max-width: 480px) {
  body {
    min-width: 320px;
    float: left;
    width: 100%;
  }
}
.gray {
  background-color: #4d4d4d;
}

