@media(min-width: 768px) {
    .navbar-fix {
        width: 90vw;
    }
    .logo {
        width: 100px;
    }
}

@media(max-width: 767px) {
    .tech-image {
        height: 200px !important;
    }
    .about-us-images {
        height: 150px
    }
    .hide-small {
        display: none;
    }
}