{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>TRASHR</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FREEHTML5.CO

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	-->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700'z rel='stylesheet' type='text/css'>

	<!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Owl Carousel -->
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<!-- Bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

	<!-- Cards -->
  <link rel="stylesheet" href="{% static 'css/cards.css' %}">

	<!-- Modernizr JS -->
  <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

<!-- Nav Bar and upper portion -->
	<div id="fh5co-page">

		<nav class="fh5co-nav-style-2" role="navigation" data-offcanvass-position="fh5co-offcanvass-left">
			<div class="container">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fh5co-logo icon">
					<span style="margin-left: 1.5%; margin-right: 1.5%; color:white;"><a href="https://www.facebook.com/trashr.waste.1"><i class="icon-facebook"></i></span>
					<span style="margin-left: 1.5%; margin-right: 1.5%; color:white;"><a href="https://twitter.com/TrashrWaste"><i class="icon-twitter"></i></span>
					<span style="margin-left: 1.5%; margin-right: 1.5%; color:white;"><a href="https://www.instagram.com/trashrwaste"><i class="icon-instagram"></i></span>
					<span style="margin-left: 1.5%; margin-right: 1.5%;"></span>
					<a href="#" class="js-fh5co-mobile-toggle fh5co-nav-toggle"><i></i></a>
					<a href="#">TRASHR</a>
				</div>
				<div class="col-lg-6 col-md-5 col-sm-5 text-right fh5co-link-wrap">
					<ul data-offcanvass="yes">
						<li><a href="#team">Team</a></li>
						<li><a href="#contact">Contact</a></li>
						<li><a href="#services">Services</a></li>
						<li><a href="#whyChoose">Why Choose Us</a></li>
						<li><a href="#pricing">Pricing</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-4 text-right fh5co-link-wrap">
					<ul class="fh5co-special" data-offcanvass="yes">
						<li><a href="#">Login</a></li>
						<li><a href="#" class="call-to-action">Create Account</a></li>
						<!--<li><a href="mapTutorial.html" class="call-to-action">Dashboard</a></li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- End NAV -->

		<!-- Trashr div, with button -->
    <div class="fh5co-cover fh5co-cover-style-2 js-full-height" data-stellar-background-ratio="0.5" data-next="yes"  style="background-image: url({% static 'images/KolkataTrash.jpg' %});">
		  	<span class="scroll-btn wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
				<a href="#">
					<span class="mouse"><span></span></span>
				</a>
			</span>
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover-text">
				<div class="container">
					<div class="row">
						<div class="col-md-push-6 col-md-6 full-height js-full-height">
							<div class="fh5co-cover-intro">
                <h1 class="cover-text-lead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s"><img src="{% static 'images/white.png' %}"></h1>
								<h2 class="cover-text-sublead wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Finding solutions, analyzing data, saving resources.</h2>
                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s"><a href="{% url 'demo' %}" class="btn btn-successs btn-outline btn-lg">Demo</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- End Div, end splash -->


<!-- Dashboard Div -->
		<div class="fh5co-project-style-2">
			<div class="container">
				<div class="row p-b">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Dashboard</h2>
						<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Click here to access your dashboard. Don't have a dashboard? Open an account today!</p>
						<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s"><a href="#" class="btn btn-success btn-outline btn-lg">Dashboard</a></p>
					</div>
				</div>
			</div>
	</div>
</div>
<!-- End Dashboard / Button Divi -->

<!-- Begin Services section -->
<div class="fh5co-features-style-1" style="background-image: url({% static 'images/full_4.jpg' %});" data-stellar-background-ratio="0.5">
			<div class="fh5co-overlay"></div>
			<div class="container" style="z-index: 3; position: relative;">
				<div class="row p-b">
					<div id="services" class="col-md-6 col-md-offset-3 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
						<h2 class="fh5co-heading">Services</h2>
					</div>
				</div>
				<div class="row">
					<div class="fh5co-features">
						<div class="fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
							<div class="icon"><i class="icon-gears"></i></div>
							<h3>Optimization</h3>
							<p>Improve your current systems with algorithms and technology.</p>
						</div>
						<div class="fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
							<div class="icon"><i class="icon-database"></i></div>
							<h3>Data Generation</h3>
							<p>We can help you generate the data neccessary to make intelligent improvements.</p>
						</div>
						<div class="fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
							<div class="icon"><i class=" icon-command"></i></div>
							<h3>Route Development</h3>
							<p>Generate new routes for fleet vehicles to improve resource management.</p>
						</div>
						<div class="fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">
							<div class="icon"><i class="icon-power"></i></div>
							<h3>Resource Management</h3>
							<p>Conserve resources, reduce waste, and save time.</p>
						</div>
						<div class="fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="2s">
							<div class="icon"><i class="icon-monitor"></i></div>
							<h3>Big Data evaluations</h3>
							<p>Using personalized data to evaluate existing practices and find improvements.</p>
						</div>
						<div class="fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.3s">
							<div class="icon"><i class="icon-mail2"></i></div>
							<h3>Digital Communications</h3>
							<p>Improving communications between management and drivers, ensuring accuracy and effectiveness.</p>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- End Services Tab -->


		<!-- Begin Why Choose Us Tab -->
		<div class="fh5co-features-style-2">
			<div class="container">
				<div class="row p-b">
					<div id="whyChoose" class="col-md-6 col-md-offset-3 text-center">
						<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Why Choose Us</h2>
						<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">Differences that put us on a tier above our competitors.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.95s">
					<div class="fh5co-icon"><i class="icon-command"></i></div>
					<div class="fh5co-desc">
						<h3>Intelligent</h3>
						<p>Using advanced algorithms and machine learning, TRASHR can optomize your waste management operations.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
					<div class="fh5co-icon"><i class="icon-eye22"></i></div>
					<div class="fh5co-desc">
						<h3>Lightweight</h3>
						<p>TRASHR is non invasive and requires minimal setup; you will be saving money in no time.</p>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.25s">
					<div class="fh5co-icon"><i class="icon-toggle"></i></div>
					<div class="fh5co-desc">
						<h3>Fully Responsive</h3>
						<p>TRASHR makes an impact; our dashboard is intuitive and provides live time data on your business.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
					<div class="fh5co-icon"><i class="icon-archive22"></i></div>
					<div class="fh5co-desc">
						<h3>Easy Access</h3>
						<p>Our mobile friendly and intuitive dashboard coordinates between drivers and management, ensuring efficiency from start to end.</p>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.55s">
					<div class="fh5co-icon"><i class="icon-heart22"></i></div>
					<div class="fh5co-desc">
						<h3>Humans in mind</h3>
						<p>We've built our product with workers in mind, to make waste collection and routing as easy on workers as possible.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">
					<div class="fh5co-icon"><i class="icon-umbrella"></i></div>
					<div class="fh5co-desc">
						<h3>Eco Friendly</h3>
						<p>Our heuristics will efficiently allocate resources reduce emissions, all the while saving you time.</p>
					</div>
				</div>
				<div class="clearfix visible-sm-block visible-xs-block"></div>
				</div>
			</div>
		</div>
		<!-- End Why Choose us Tab -->


<!-- Begin Pricing Tab -->
		<div class="fh5co-pricing-style-2">
			<div class="container">
				<div class="row">
					<div class="row p-b">
						<div id="pricing" class="col-md-6 col-md-offset-3 text-center">
							<h2 class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Pricing Plans</h2>
							<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">Basic quote for our tiered services. All prices subject to change.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="pricing">
		            <div class="pricing-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
		                 <h3 class="pricing-title">Basic</h3>
		                 <p class="pricing-sentence">Basic sensor, data package.</p>
		                 <div class="pricing-price"><span class="pricing-currency">$</span>10<span class="pricing-period">/ month</span></div>
		                 <ul class="pricing-feature-list">
		                     <li class="pricing-feature">Dashboard access</li>
		                     <li class="pricing-feature">Route Management</li>
		                     <li class="pricing-feature">Algorithmic Optimization</li>
		                 </ul>
		                 <button class="btn btn-success btn-outline">Choose plan</button>
		             </div>
		             <div class="pricing-item pricing-item--featured wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
		                 <h3 class="pricing-title">Standard</h3>
		                 <p class="pricing-sentence">Premium sensor, data, analytics</p>
		                 <div class="pricing-price"><span class="pricing-currency">$</span>25<span class="pricing-period">/ month</span></div>
		                 <ul class="pricing-feature-list">
		                     <li class="pricing-feature">Dashboard access</li>
		                     <li class="pricing-feature">Data collection</li>
		                     <li class="pricing-feature">Machine learning</li>
		                 </ul>
		                 <button class="btn btn-success btn-lg">Choose plan</button>
		             </div>
		             <div class="pricing-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">
		                 <h3 class="pricing-title">Enterprise</h3>
		                 <p class="pricing-sentence">Enterprise sensor, data, analytics</p>
		                 <div class="pricing-price"><span class="pricing-currency">$</span>100<span class="pricing-period">/ month</span></div>
		                 <ul class="pricing-feature-list">
		                     <li class="pricing-feature">Dashboard Access</li>
		                     <li class="pricing-feature">Active monitoring</li>
		                     <li class="pricing-feature">Heuristic routing</li>
		                 </ul>
		                 <button class="btn btn-success btn-outline">Choose plan</button>
		             </div>
		         </div>
		      </div>
			</div>
	</div>
	<!-- End Pricing Section -->


<!-- Begin Impact Tab -->
<div id="impact" class="fh5co-counter-style-2" style="background-image: url({% static 'images/full_4.jpg' %});" data-stellar-background-ratio="0.5">
			<div class="fh5co-overlay"></div>
			<div class="container">
				<div class="fh5co-section-content-wrap">
					<div class="fh5co-section-content"> <!-- WHY WONT THIS TURN WHITE -->
						<div class=" fh5co-counter wow fadeInUp text-center">Our Impact</div>
						<div class="row">
							<div class="col-md-4 text-center wow fadeInUp " data-wow-duration="1s" data-wow-delay=".5s">
								<div class="icon">
									<i class="icon-command"></i>
								</div>
								<span class="fh5co-counter js-counter">7.5</span>
								<span class="fh5co-counter-label">Routes Generated</span>

							</div>
							<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
								<div class="icon">
									<i class="icon-dollar"></i>
								</div>
								<span class="fh5co-counter js-counter"> 1,000,000</span>
								<span class="fh5co-counter-label">Dollars Saved</span>
							</div>
							<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
								<div class="icon">
									<i class="icon-monitor"></i>
								</div>
								<span class="fh5co-counter js-counter">2</span>
								<span class="fh5co-counter-label">Sensors Placed</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- End Impact Tab -->


<!-- Begin Team section -->
		<div class="fh5co-testimonial-style-2">
			<div class="container">
				<div class="row p-b">
					<div class="col-md-6 col-md-offset-3 text-center">
						<h2 id="team" class="fh5co-heading wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Team Members</h2>
						<p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s"></p>
					</div>
				</div>
				<div class="row">

					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.95s">
							<div class="fh5co-name">
                <img src="{% static 'images/hartley.jpg' %}" alt=""><!-- Hartley Picture -->
								<div class="fh5co-meta">
									<h3>Hartley Leroy</h3>
									<span class="fh5co-company">CEO</span>
								</div>
							</div>
							<div class="fh5co-text">
								<p>&ldquo;Business Lead, Head designer.&rdquo;</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
							<div class="fh5co-name">
                <img src="{% static 'images/gouth.jpg' %}" alt="">
								<div class="fh5co-meta">
									<h3>Goutham Subramanian</h3>
									<span class="fh5co-company">Technical Lead</span>
								</div>
							</div>
							<div class="fh5co-text">
								<p>&ldquo;Manager, Electrical design.&rdquo;</p>
							</div>
						</div>
					</div>

					<div class="clearfix visible-sm-block"></div>

					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.25s">
							<div class="fh5co-name">
                <img src="{% static 'images/nickC.jpg' %}" alt="">
								<div class="fh5co-meta">
									<h3>Nick Conlon</h3>
									<span class="fh5co-company">Senior Architect</span>
								</div>
							</div>
							<div class="fh5co-text">
								<p>&ldquo;DevOps and AI Developer.&rdquo;</p>
							</div>
						</div>
					</div>

					<div class="clearfix visible-lg-block visible-md-block text-center"></div>

				<div class="clearfix visible-sm-block"></div>
					<div class="col-md-4 col-md-offset-4">
						<div class="fh5co-testimonial-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.55s">
							<div class="fh5co-name">
                <img src="{% static 'images/nicks.jpg' %}" alt="">
								<div class="fh5co-meta">
									<h3>Nick Sischo</h3>
									<span class="fh5co-company">Developer</span>
								</div>
							</div>
							<div class="fh5co-text">

								<p>&ldquo;UI/UX Developer.&rdquo;</p>
							</div>
						</div>
					</div>
				</div>
			</div>
					<div class="clearfix visible-sm-block"></div>

				</div>
		</div>
		<!-- End Team Section -->


		<!-- Begin Contact Form -->
			<hr>
			<div><br></div>
			<!-- www.123contactform.com script begins here -->
			<div id="contact" class="text-center"><h3>Contact Us </h3>
				<iframe allowTransparency="true" style="min-height:460px; height:inherit; overflow-x:hidden;" width="100%" id="contactform123" name="contactform123" marginwidth="0" marginheight="0" frameborder="0" src="http://www.123contactform.com/my-contact-form-3059199.html">
					<p>Your browser does not support iframes. The contact form cannot be displayed. Please use another contact method (phone, fax etc)</p>
				</iframe></div>
			<hr>
			<div style="text-align:center;">Other ways to contact : Please email <a href="mailto:trashrWaste@gmail.com?Subject=Website%20contact" target="_top">trashrWaste@gmail.com</a> or call (315)552-4009</div>
			<div></div>
		</div>
		<!-- End Contact Form -->


		<!-- Begin Footer -->
		<div class="fh5co-footer-style-3">
			<div class="container">
				<div class="row p-b">
					<div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
						<div class="fh5co-logo"><span class="logo">V</span> Voltage</div>
						<p class="fh5co-copyright">&copy; 2016 Voltage. <br>All Rights Reserved. <br>Designed by <a target="_blank" href="http://freehtml5.co">FREEHTML5.co</a> <br>Created with <a target="_blank" href="http://freehtml5.co/cards">Cards</a> <br>
							Images: <a target="_blank" href="http://unsplash.com/">Unsplash</a>, <a target="_blank" href="http://pexels.com/">Pexels</a></p>
					</div>
					<div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
						<h3>TRASHR</h3>
						<ul class="fh5co-links">
							<li><a href="#services">Services</a></li>
							<li><a href="#pricing">Prices</a></li>
							<li><a href="#whyChoose">Why Choose Us</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
						<h3>Connect</h3>
						<ul class="fh5co-links fh5co-social">
							<li><a href="https://www.facebook.com/trashr.waste.1"><i class="icon icon-facebook2"></i> Facebook</a></li>
							<li><a href="https://twitter.com/TrashrWaste"><i class="icon icon-twitter"></i> Twitter</a></li>
							<li><a href="https://www.instagram.com/trashrwaste/"><i class="icon icon-instagram"></i> Instagram</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
						<h3>Access your dashboard.</h3>
						<p></p>
						<p><a href="#" class="btn btn-success btn-sm btn-outline">Dashboard</a></p>
					</div>
					<div class="clearfix visible-sm-block"></div>
				</div>
			</div>
			</div>
		</div>
		<!-- END footer -->

	</div>
	<!-- END page-->

	<!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
	<!-- jQuery Easing -->
	<!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>	<!-- Waypoints -->

	<!-- Owl Carousel -->
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- WOW -->
  <script src="{% static 'js/wow.min.js' %}"></script>
	<script>
		new WOW().init();
	</script>
	<!-- Main -->
  <script src="{% static 'js/main.js' %}"></script>

	</body>
</html>
