<div class="navbar-default sidebar" role="navigation">
<div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
        </li>
        <li>
            <a href="{% url 'dashboard' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
        </li>
        <li>
            <a href="{% url 'route' %}"><i class="fa fa-road fa-fw"></i> Routes</a>
        </li>
        <li>
            <a href="{% url 'preferences' %}"><i class="fa fa-cog fa-fw"></i> Preferences</a>
        </li>
    </ul>
</div>
<!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
