<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Trashr demo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  	body {
        background-image: url("{% static 'images/background.jpg' %}");
    	text-shadow: 2px 2px 2px black; 

  	}
  </style>
</head>
<body>
<center>
<div class="container">
	<font size="30m" color="white"> 	
		<br /> <br /> <br />
        <p>{{ greeting }}</p>
  	</font>
  	<font size="5m" color="white">
  		<p>Bragaw dumpster is at </font> 
		<font size="5m" color="green">
        {{ percent_capacity }}%
	</font>
  	<font size="5m" color="white">
  		capacity </font></p>
</div>
</center>
</body>
</html>
