{% load querystring from django_tables2 %}
{% load i18n %}
{% load trans blocktrans from i18n %}
{% load bootstrap3 %}
{% load tags %}
{% load static %}

<div id="table" class="col-md-6" style="visibility:hidden">
    {% if table.page %}
    <div class="table-container">
        {% endif %}

        {% block table %}
        <table id="dumpster-table" class="table table-striped">
            {% block table.thead %}
            <thead>
            <tr>
                <th style="width:1%"></th>
                {% for column in table.columns %}
                <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                {% endfor %}
                <th><center>Color</center></th>

            </tr>
            </thead>
            {% endblock table.thead %}
            {% block table.tbody %}
            <tbody>
            {% for row in table.rows %}
            {% block table.tbody.row %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td style="display:none">{{forloop.counter0}}</td>
                {% for column, cell in row.items %}
                <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                {% endfor %}
                <td align="center">
                    <div style="width: 30%; height: 70%; background: {{colors|get_color:forloop.counter0}}"><br/></div>
                </td>
            </tr>
            {% endblock table.tbody.row %}
            {% empty %}
            {% if table.empty_text %}
            {% block table.tbody.empty_text %}
            <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
            {% endblock table.tbody.empty_text %}
            {% endif %}
            {% endfor %}
            </tbody>
            {% endblock table.tbody %}
            {% block table.tfoot %}
            <tfoot></tfoot>
            {% endblock table.tfoot %}
        </table>
        {% endblock table %}

        {% if table.page %}
        {% block pagination %}
        {% bootstrap_pagination table.page %}
        {% endblock pagination %}
    </div>
    {% endif %}
</div>
<div class="map col-md-6">
    <div id='map' style='width: 100%; height: 100%;'></div>
</div>

<script>
    function makeDataTable() {
  var table = $('#dumpster-table').DataTable( {
    responsive:     true,
    columnDefs: [
     { targets: 4, sortable: false },
     { targets: 0, visible: false, searchable: false },
     { responsivePriority: 2, targets: 1 },
     { responsivePriority: 1, targets: -1 },
     { responsivePriority: 3, targets: 3 },
    ],
    select: {
      style: 'multi'
    },
    "bLengthChange": false,
    "bFilter": true,
    "bPaginate": false,
    searching: false
  });
  $('#table').css('visibility', 'visible');
  return table;
}

function makeMap(table) {
  mapboxgl.accessToken = 'pk.eyJ1IjoidHJhc2hyIiwiYSI6ImNqOHJ3MDBzZjAyZTgzNG1yNHpmZDl3Y2sifQ.q574EBc3GMSMHBH2sPGM6w';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v10',
    center: [{{long}}, {{lat}}],
    zoom: 13
  });
  map.addControl(new mapboxgl.NavigationControl());

  var geojson = {{layer|safe}}

  red = "url('{% static 'images' %}/red-waste-basket-15.svg')"
  green = "url('{% static 'images' %}/green-waste-basket-15.svg')"
  yellow = "url('{% static 'images' %}/yellow-waste-basket-15.svg')"
  colors = {{colors|safe}}

  geojson.features.forEach(function(marker) {
    // create a DOM element for the marker
    var el = document.createElement('div');
    el.className = 'marker';
    if (marker.properties.color === 'red')
        el.style.backgroundImage = red
    else if (marker.properties.color === 'green')
        el.style.backgroundImage = green
    else el.style.backgroundImage = yellow

    // add marker to map
    new mapboxgl.Marker(el)
        .setLngLat(marker.geometry.coordinates)
        .setPopup(new mapboxgl.Popup().setHTML(marker.properties.description))
        .addTo(map);
  });
  route_geometries = {{route_geometries|safe}}
  map.on('load', function() {
    for (i = 0; i < route_geometries.length; i++) {
      i_str = i.toString();
      map.addLayer({
        id: i_str,
        type: 'line',
        source: {
          type: 'geojson',
          data: {
            type: 'Feature',
            geometry: route_geometries[i]
          }
        },
        paint: {
          'line-width': 3,
          'line-color': colors[i]
        }
      });
      map.setLayoutProperty(i_str, 'visibility', 'none');
    }
    table.on( 'select', function ( e, dt, type, indexes ) {
      var data = table.rows( indexes ).data()[0][0];
      var data = data.toString();
      var visibility = map.getLayoutProperty(data, 'visibility');
      if (visibility === 'visible') {
        return;
      }
      else {
        map.setLayoutProperty(data, 'visibility', 'visible');
      }
    });
    table.on( 'deselect', function ( e, dt, type, indexes ) {
      var data = table.rows( indexes ).data()[0][0];
      var data = data.toString();
      var visibility = map.getLayoutProperty(data, 'visibility');
      if (visibility === 'visible') {
        map.setLayoutProperty(data, 'visibility', 'none');
      }
    });
    table.row(':eq(0)', { page: 'current' }).select();
  });
  return map;
}
$(document).ready(function() {
  table = makeDataTable();
  map = makeMap(table);
});
</script>
<style type="text/css">
.marker {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.map {
    height:75vh;
}
</style>
