packages:
  yum:
    postgresql94-devel: []

container_commands:
  01_migrate:
    command: "django-admin.py migrate --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: base/wsgi.py
  ## Database ENV Vars
  ## Enable when switching to a stand-alone RDS instance (outside EB)
  #- option_name: DATABASE_PASSWORD
  #  value: TrashrWaste1!