{% extends 'base_generic.html' %}
{% block title %}{% endblock title %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
{% csrf_token %}
<html lang="en">
<meta http-equiv="refresh" content="3;url={% url 'dashboard' %}" />
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<body >
    <div class="form">
      <p>Account successfully created. </p>
      {{request.user}}
      <p>Redirecting...</p>
    </div>

</body>









{% endblock content %}
