{% extends 'base_generic.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}


<!DOCTYPE html>
<html>
<head>
<title>Log in / Create an Account</title>
 <link href="{% static 'css/duo.css' %}" rel="stylesheet">

</head>

<div class="form">

      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
      </ul>

      <div class="tab-content">
        <div id="signup">
          <h1>Sign Up for Free</h1>

          <form action="{% url 'signup' %}" method="post">
            {% csrf_token %}

          <div class="top-row">
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              {{form_signup.first_name}}
              <!--<input type="text" required autocomplete="off"></input> -->
            </div>

            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              {{form_signup.last_name}}<!--
              <input type="text"required autocomplete="off">{{form.last_name}}</input> -->
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>

            {{form_signup.username}}
          <!--  <input type="email"required autocomplete="off"></input> -->
            {{form_signup.username.errors}}
          </div>

          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            {{form_signup.password1}}
          <!--  <input type="password"required autocomplete="off"></input> -->
            {{form_signup.password1.errors}}
          </div>
          <div class="field-wrap">
            <label>
              Confirm Password<span class="req">*</span>
            </label>
            {{form_signup.password2}}
          <!--  <input type="password"required autocomplete="off"></input> -->
            {{form_signup.password2.errors}}
          </div>

          <button value = "submit" type="submit" class="button button-block"/>Get Started</button>

          </form>

        </div>

        <div id="login">
          <p>Currently Authenticated as : {{request.user}} </p>

          {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
          {% endif %}

          {% if next %}
              {% if user.is_authenticated %}
              <p>Your account doesn't have access to this page. To proceed,
              please login with an account that has access.</p>
              {% else %}
              <p>Please login to see this page.</p>
              {% endif %}
          {% endif %}

          <form method="post" action="{% url 'login' %}">
          {% csrf_token %}

          <div>
            <td>{{ form_login.username.label_tag }}</td>
            <td>{{ form_login.username }}</td>
          </div>
          <div>
            <td>{{ form_login.password.label_tag }}</td>
            <td>{{ form_login.password }}</td>
          </div>

          <div>
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
          </div>
          </form>

          {# Assumes you setup the password_reset view in your URLconf #}
          <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

      </div><!-- tab-content -->

</div> <!-- /form -->
{% endblock content %}
