{% extends 'base_generic.html' %}
{{ form.media }}
{% load static %}
{% load bootstrap3 %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/account.css' %}">
<script src="{% static 'js/login.js' %}"></script>


<title>Log in</title>
<body>
  <div class="login-page">
    <div class="form">
      <form class="login-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
          <td>{{ form.username.errors }}</td>
        </div>
        <div>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
          <td>{{ form.password.errors }}</td>
        </div>
        <div>
          <input class="btn" type="submit" value="login" />
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
        <p class="message"><a href="{% url 'signup' %}"> Not registered? Create an account</a></p>
        </form>
    </div>
  </div>
</body>

</html>
{% endblock content %}
