{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
{% csrf_token %}
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="refresh" content="3;url={% url 'payment-center' %}" />
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<body >
  <div class="login-page">
    <div class="form">
      <p>Email successfully validated. </p>
      <p>Redirecting you to the payment page to activate your company's account.</p>
    </div>
  </div>
</body>









{% endblock content %}
