<div style="box-shadow: 0 50vh 0 50vh #282d32;" class="footer-dark">
    <footer id="foot">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 item" id="services">
                    <h3 style="font-family:'Maven Pro', sans-serif;">Product</h3>
                    <ul>
                        <li><a href="{% url 'technology' %}">Hardware</a></li>
                        <li><a href="{% url 'index' %}#iconText">Services</a></li>
                        <li><a href="{% url 'services' %}#feat">Service Details</a></li>
                    </ul>
                </div>

{#                <div class="col-sm-6 col-md-3 item" id="companyDisc">#}
{#                    <h3>Services</h3>#}
{#                    <ul>#}
{#                        <li>Routing</li>#}
{#                        <li>Recycling</li>#}
{#                        <li>Composting</li>#}
{#                        <li>Diversion</li>#}
{#                    </ul><a href="#"></a></div>#}
                <div class="col-sm-6 col-md-4 item" id="SiteLinks">
                    <h3>Resources</h3>
                    <ul>
                        <li><a href="{% url 'privacy' %}#highlight">Privacy Policy</a></li>
                        <li><a href="{% url 'terms' %}#highlight">Terms and Conditions</a></li>
                        <li></li>
                    </ul><a href="#"></a></div>
                <div class="col-sm-6 col-md-4 item" id="SiteLinks">
                    <h3>Trashr</h3>
                    <ul>
                        <li><a href="{% url 'index' %}#contact">Contact Us</a></li>
                        <li><a href="{% url 'about' %}#teamText">Our Story</a></li>
                    </ul><a href="#"></a></div>
{#                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-linkedin-outline"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>#}
            </div>
            <p class="copyright">Trashr © 2018</p>
        </div>
    </footer>
</div>