<div id="navHead">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean navbar-fix-top">
        <div class="container"><a class="navbar-brand" href="{% url 'index' %}">TRASHR</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'services' %}">Services</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'technology' %}">Technology</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-tiem" role="presentation"><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                    <li class="nav-tiem" role="presentation"><a class="nav-link" href="{% url 'preferences'%}?next={{request.path}}">{{request.user}}</a></li>
                    {% else %}
                    <li class="nav-tiem" role="presentation"><a class="nav-link" href="{% url 'login'%}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
