<title>Services</title>

{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
    <div class="features-boxed" style="background-color:rgb(255,255,255);">
        <div class="container" id="featCont" style="background-color:#ffffff;">
            <div class="intro">
                <h2 class="text-center" id="softHead">Services</h2>
            </div><div class="embed-responsive embed-responsive-16by9" id="embedVid"><iframe width="560" height="315" src="https://www.youtube.com/embed/V8V3_qbsUfQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
            <div class="row justify-content-center features" id="feat">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-cloud-upload icon"></i>
                        <h3 class="name">Cloud Technology</h3>
                        <p class="description">Cloud technology means you'll always have access to your dashboard, your data, and your systems.</p>
{#                        <a href="#" class="learn-more">Learn more »</a>#}
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-circle-thin icon"></i>
                        <h3 class="name">Easy Design</h3>
                        <p class="description">Our simple layout means understanding your data, to make smarter decisions, every time.</p>
{#                        <a href="#" class="learn-more">Learn more »</a>#}
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-users icon"></i>
                        <h3 class="name">Collaboration</h3>
                        <p class="description">Trashr representatives work with you, to make your dashboard simple and intuitive, just the way you want it.</p>
{#                        <a href="#" class="learn-more">Learn more »</a>#}
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-bar-chart icon"></i>
                        <h3 class="name">Analysis</h3>
                        <p class="description">The Trashr dashboard makes your data easy for you to understand, making it easy to act on.</p>
{#                        <a href="#" class="learn-more">Learn more »</a>#}
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-list-ol icon"></i>
                        <h3 class="name">In-Depth</h3>
                        <p class="description">Trashr provides the data you need, in the ways you want it. View every metric, or only a few.</p>
{#                        <a href="#" class="learn-more">Learn more »</a>#}
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-phone icon"></i>
                        <h3 class="name">Prompt Support</h3>
                        <p class="description">We'll respond each time, every time. We'll work hand in hand with you to resolve any issues.</p>
{#                        <a href="#" class="learn-more">Learn more »</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}