<title>Terms</title>

{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
    <div id="highlight" class="highlight-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Terms and Conditions</h2>
                <p class="text-center">The Trashr website Terms and Conditions can be viewed <a style="color:black" href="https://app.termly.io/document/terms-of-use-for-saas/e0d341c9-1508-4eea-acc9-9422ee1f1a49">here.</a></p>
            </div>
        </div>
    </div>
{% endblock %}