<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrashrIndex</title>
    <link rel="stylesheet" href="../BootstrapStudioPt2/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../BootstrapStudioPt2/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../BootstrapStudioPt2/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../static/css/styles.min.css">
</head>

<body><nav class="navbar navbar-light navbar-expand-md fixed-top d-inline-flex" id="nav" style="background-color:rgb(255,255,255);">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img src="../BootstrapStudioPt2/assets/img/T_logo_blackhat.png"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto" style="background-position:right;color:rgb(0,0,0);">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color:rgba(0,0,0,0.5);">Contact</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color:rgba(0,0,0,0.5);">Create Account</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div id="slider" class="simple-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div id="slide1" class="swiper-slide" style="background-image:url(&quot;assets/img/T_logo_blackhat.png&quot;);"></div>
                <div id="slide2" class="swiper-slide" style="background-image:url(&quot;assets/img/wolfdenimage.jpg&quot;);"></div>
                <div id="slide3" class="swiper-slide" style="background-image:url(&quot;assets/img/outsidegroup.jpg&quot;);"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <div id="highlight" class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Our Mission</h2>
                <p class="text-center">Waste collection generates waste. Waste vehicles are some of the most polluting vehicles on the road today. The more Trashr can streamline waste collection operations, the less pollution is created, the better the world is.&nbsp;</p>
            </div>
        </div>
    </div>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"></h2>
                <p class="text-center">Trashr's focus is the triple bottom line. In order for Trashr to be working for everyone, it needs to hit these targets.</p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="../BootstrapStudioPt2/assets/img/desk.jpg"></a>
                    <h3 class="name">People</h3>
                    <p class="description">See how Trashr is helping People today.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="../BootstrapStudioPt2/assets/img/beach.jpg"></a>
                    <h3 class="name">Planet</h3>
                    <p class="description">Read about Trashr's impact on the environment, and resource use reduction.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="../BootstrapStudioPt2/assets/img/loft.jpg"></a>
                    <h3 class="name">Profit</h3>
                    <p class="description">View testimonials where Trashr has saved companies thousands of dollars.</p><a href="#" class="action"><i class="fa fa-arrow-circle-right"></i></a></div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer id="foot">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item" id="services">
                        <h3 style="font-family:'Maven Pro', sans-serif;">Products</h3>
                        <ul>
                            <li><a href="#">Technology</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Research</a></li>
                            <li><a href="#">Solutions</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item" id="companyDisc">
                        <h3>Trashr</h3>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Customers</a></li>
                            <li><a href="#">Pricing</a></li>
                        </ul><a href="#"></a></div>
                    <div class="col-md-6 item text" id="siteLinks">
                        <h3>Site Links</h3>
                        <p>Dashboard</p>
                        <p>User Preferences</p>
                        <p>Privacy Policy</p>
                        <p>Terms and Conditions</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-linkedin-outline"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Trashr © 2018</p>
            </div>
        </footer>
    </div>
    <script src="../BootstrapStudioPt2/assets/js/jquery.min.js"></script>
    <script src="../BootstrapStudioPt2/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/script.min.js"></script>
    <script src="../BootstrapStudioPt2/assets/js/jquery.min.js"></script>
    <script src="../BootstrapStudioPt2/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>