{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}

<!DOCTYPE html>

<link rel="stylesheet" href="{% static 'css/preference_page.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
 <title>Company Code</title>


 <body>
   <div id="page-wrapper">
     <p>Do you have a Company Code? Please enter it now.</p>
     <form method="post" action="{% url 'companyCode' %}">
     {% csrf_token %}
     <div>
       <input class="form-control" id="companyCode" placeholder="Company Code">

     </div>
     <div>
       <input type="submit" value="submit" />
       <input type="hidden" name="next" value="{{ next }}" />
     </div>
     </form>
     <p>New Customer? You'll receive a company code with your purchase of one of our tiered service plans.
        You can find those<a href="{% url 'preferences'%}?next={{request.path}}"> here.</a></p>
    </div>
</body>

{% endblock content %}
