{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{{ form.media }}
{% load render_table from django_tables2 %}

{% block content %}
<title>Dashboard</title>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/af-2.2.2/b-1.4.2/r-2.2.0/sc-1.4.3/sl-1.2.3/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/af-2.2.2/b-1.4.2/r-2.2.0/sc-1.4.3/sl-1.2.3/datatables.min.js"></script>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet' />


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div id="messages">
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <form id="form-graph" method="post" action="{% url 'graph' %}"> {% csrf_token %}
                <div class="hide">{% bootstrap_field form_select.dumpsters %}</div>
                <a id="graph" href="#">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-area-chart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Graph Selected Dumpsters</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </form>
        </div>
        <div class="col-lg-6 col-md-6">
            <form id="form-route" method="post" action="{% url 'route' %}"> {% csrf_token %}
                <div class="hide">{% bootstrap_field form_select.dumpsters %}</div>
                <a id="make-route" href="#">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-road fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Route Selected Dumpsters</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="table" class="col-md-6" style="visibility:hidden">
            {% include 'table.html' %}
        </div>
        <div class="map col-md-6">
            <div id='map' style='width: 100%; height: 100%;'>
                <select class="driver-btn btn btn-default" name="drivers" form="form-route">
                    <option>1 Driver</option>
                    <option>2 Drivers</option>
                    <option>3 Drivers</option>
                    <option>4 Drivers</option>
                    <option>5 Drivers</option>
                    <option>6 Drivers</option>
                    <option>7 Drivers</option>
                    <option>8 Drivers</option>
                    <option>9 Drivers</option>
                    <option>10 Drivers</option>
                </select>
            </div>
        </div>
    </div>
</div>
<script>
$.fn.dataTable.ext.search.push(
  function( settings, data, dataIndex ) {
    $('#min').css('margin-bottom', '10px')
    $('#max').css('margin-bottom', '10px')
    var min = parseInt( $('#min').val(), 0 );
    var max = parseInt( $('#max').val(), 0 );
    var percent_fill = parseFloat( data[4] ) || 0;

    if ( ( isNaN( min )          && isNaN( max ) ) ||
         ( isNaN( min )          && percent_fill <= max ) ||
         ( min <= percent_fill   && isNaN( max ) ) ||
         ( min <= percent_fill   && percent_fill <= max ) ) {
      return true;
    }
    return false;
  }
);
$(document).ready(function() {
$('.fa-dashboard').addClass('active')
bootstrap_alert = function() {}
bootstrap_alert.warning = function(message) {
  $('#messages').html('<div class="alert alert-danger alert-dismissable">\
                       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">\
                       &times;</button><span style="font-size:18px">'+message+'</span></div>')
}
if ('{{ errors }}') {
  bootstrap_alert.warning('{{errors}}')
}

  mapboxgl.accessToken = 'pk.eyJ1IjoidHJhc2hyIiwiYSI6ImNqOHJ3MDBzZjAyZTgzNG1yNHpmZDl3Y2sifQ.q574EBc3GMSMHBH2sPGM6w';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v10',
    center: [{{long}}, {{lat}}],
    zoom: 12.5
  });
  map.addControl(new mapboxgl.NavigationControl());

  var geojson = {{layer|safe}}

  red = "url('{% static 'images' %}/red-waste-basket-15.svg')"
  green = "url('{% static 'images' %}/green-waste-basket-15.svg')"
  yellow = "url('{% static 'images' %}/yellow-waste-basket-15.svg')"

  geojson.features.forEach(function(marker) {
    // create a DOM element for the marker
    var el = document.createElement('div');
    el.className = 'marker';
    if (marker.properties.color === 'red')
      el.style.backgroundImage = red
    else if (marker.properties.color === 'green')
      el.style.backgroundImage = green
    else el.style.backgroundImage = yellow

    // add marker to map
    new mapboxgl.Marker(el)
      .setLngLat(marker.geometry.coordinates)
      .setPopup(new mapboxgl.Popup().setHTML(marker.properties.description))
      .addTo(map);
  });
  var table = $('#dumpster-table').DataTable( {
    responsive:     true,
    columnDefs: [
     { targets: 0, visible: false, searchable: false },
     { responsivePriority: 1, targets: 1 },
     { responsivePriority: 1, targets: -1 },
     { responsivePriority: 3, targets: 3 },
     {
    } ],
    select: {
      style: 'multi',
    },
    order: [[ 4, 'desc' ]],
    dom: 'Bfrtip',
    buttons: [
        {
            extend: 'selectAll',
            className: 'selectall',
            action : function(e) {
                e.preventDefault();
                table.rows({ page: 'all'}).nodes().each(function() {
                    $(this).removeClass('selected')
                })
                table.rows({ search: 'applied'}).select();
            }
        },
        'selectNone',
    ],
    language: {
        buttons: {
            selectAll: "Select all",
            selectNone: "Select none"
        }
    },
  } );
  $('#min, #max').keyup(function() {
    table.draw();
  });

  $('#graph').click(function() {
    $('[name=dumpsters]').val(makeArray());
    $('#form-graph').submit();
  });

  $('#make-route').click(function() {
    arr = makeArray();
    if (!arr) {
      return
    }
    $('[name=dumpsters]').val(makeArray());
    $('#form-route').submit();
  });

  function makeArray() {
    var arr = '['
    var rows = table.rows('.selected')
    var count = rows.count()
    if (count === 0) {
      bootstrap_alert.warning('Please select one or more dumpsters to route');
      return;
    }
    var data = rows.data()
    for (i = 0; i < count; i++) {
        var row = data[i][0]
        arr += row + ','
    }
    arr += ']'
    return arr
  }

  $('#table').css('visibility', 'visible');
  $('#map').css('height', $('#table').css('height'));

} );

</script>
<style type="text/css">
.hide {
  display: none;
}
.marker {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#map {
  position: relative; !important
  top: 0;
  bottom: 0;
  width: 100%;
}
.driver-btn {
  position:absolute;
  z-index: 2;
  margin-left: 10px;
  margin-top: 10px;
}
.map {
    height:75vh;
}
</style>
{% endblock %}

