{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{{ form.media }}
{% load render_table from django_tables2 %}


{% block content %}
<div id="page-wrapper">
<div class="row">
<div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
<div class="col-lg-3 col-md-6">
  <a href="#">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">Graph Selected Dumpsters</div>
                </div>
            </div>
        </div>
    </div>
  </a>
</div>
<div class="col-lg-3 col-md-6">
  <a href="#">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-map-marker fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">Map Selected Dumpsters</div>
                </div>
            </div>
        </div>
    </div>
  </a>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">124</div>
                    <div>New Orders!</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-support fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">13</div>
                    <div>Support Tickets!</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
</div>
<!-- /.row -->
<div class="row">
<div class="col-lg-12">
  <div class="col-lg-12">
      <!-- /.panel-heading -->
      <div class="panel-body" style="padding-bottom:0px">
        <form id="table-form" method="post">
            <div class="col-sm-5" style="padding-left:0px; padding-right:0px">
                <div class="col-sm-6">
                  {% bootstrap_field form.address %}
                </div>
                <div class="col-sm-6">
                  {% bootstrap_field form.location %}
                </div>
              </div>
              <div class="col-sm-7" style="padding-left:0px; padding-right:0px">
                <div class="col-sm-3">
                  {% bootstrap_field form.utility %}
                </div>
                <div class="col-sm-4">
                  {% bootstrap_field form.operator %}
                </div>
                <div class="col-sm-3">
                  {% bootstrap_field form.percent_fill %}
                </div>
                <input style="font-weight:bold; margin-top:25px" type="submit" class="btn btn-primary" value="filter"/>
              </div>
            </div>
          </form>
      <div id="table">
        {% include 'table.html' %}
        <div id="spinner" class="lds-css ng-scope hide">
  	      <div style="width:100%;height:100%" class="lds-eclipse">
    	      <div></div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<script>
// Submit post on submit
$('#table-form').on('submit', function(event){
  event.preventDefault();
    $('#table').addClass('hide');
    $('#spinner').css('height', $('#table').css('height'));
    $('#spinner').css('width', $('#table').css('width'));
    $('#spinner').removeClass('hide');
    create_post();
});
// AJAX for posting
function create_post() {
  $.ajax({
    url : {% url 'filter_table' %}, // the endpoint
    type : "POST", // http method
    data : $('#table-form').serializeArray(), // data sent with the post request
    // handle a successful response
    success : function(json) {
      console.log(json); // log the returned json to the console
      console.log("success"); // another sanity check
      $('#table').html(json)
      $('#spinner').removeClass('hide');
    },
    // handle a non-successful response
    error : function(xhr,errmsg,err) {
      $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
      console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
  });
}

</script>
<style type="text/css">@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-eclipse {
  position: relative;
}
.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 1s linear infinite;
  animation: lds-eclipse 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #2f98bb;
  -webkit-transform-origin: 80px 82px;
  transform-origin: 80px 82px;
}
.lds-eclipse {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
.hide {
  display: none;
}
</style>
{% endblock %}

