{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{{ form.media }}
{% load render_table from django_tables2 %}



{% block content %}
<div id="page-wrapper">
<div class="row">
<div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <form id="form-select" method="post" action="{% url 'map' %}">
        <div class="hide">{% bootstrap_field form_select.dumpsters %}</div>
        <a id="map" href="#">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">Graph Selected Dumpsters</div>
                </div>
              </div>
            </div>
        </div>
      </a>
    </form>
  </div>
  <div class="col-lg-6 col-md-6">
    <a id="map" href="#">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-map-marker fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">Map Selected Dumpsters</div>
              </div>
            </div>
          </div>
      </div>
    </a>
  </div>
  <div id="table" class="col-md-12" style="visibility:hidden">
    {% include 'table.html' %}
  </div>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>
$.fn.dataTable.ext.search.push(
  function( settings, data, dataIndex ) {
    var min = parseInt( $('#min').val(), 0 );
    var max = parseInt( $('#max').val(), 0 );
    var percent_fill = parseFloat( data[4] ) || 0;
  
    if ( ( isNaN( min )          && isNaN( max ) ) ||
         ( isNaN( min )          && percent_fill <= max ) ||
         ( min <= percent_fill   && isNaN( max ) ) ||
         ( min <= percent_fill   && percent_fill <= max ) ) {
      return true;
    }
    return false;
  }
);
$(document).ready(function() {
  var table = $('#dumpster-table').DataTable( {
    columnDefs: [ {
      orderable: false,
      className: 'select-checkbox',
      targets: 0
    } ],
    select: {
      style: 'multi',
      selector: 'td:first-child'
    },
    order: [[ 1, 'asc' ]]
  } );

  $('#min, #max').keyup(function() {
    table.draw();
  });

  $('#table').css('visibility', 'visible');
} );

$('#map').click(function() {
  var arr = new Array(10)
  var count = 0;
  $('.check:checkbox:checked').each(function(){
    arr[count] = $(this).val();
    count++;
  });
  $('[name=dumpsters]').val(arr);
  $('#form-select').submit();
});

</script>
<style type="text/css">@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-eclipse {
  position: relative;
}
.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 1s linear infinite;
  animation: lds-eclipse 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #2f98bb;
  -webkit-transform-origin: 80px 82px;
  transform-origin: 80px 82px;
}
.lds-eclipse {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
.hide {
  display: none;
}
</style>
{% endblock %}

